:root {
  /* font colors */
  --text-color: #667787;
  --white: #ffffff;
  --black: #000000;
  --blue: #2476fe;
  --green: #01c8a7;
  --navyblue: #20335b;
  --contrast: rgba(246, 248, 249, 0.8);
  --success: #64ecf5;
  --danger: #ff8b8d;

  /* Font sizes  */
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-25: 1.5625rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-70: 4.375rem;
  --size-80: 5rem;
  --size-90: 5.625rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}
html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Inter-medium", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  text-wrap: wrap;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin-top: 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}
img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  border-radius: 11.25rem;
  transition: ease-in-out 0.3s;
}
.btn_primary {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
  transition: ease-in-out 0.3s;
}
.sketch {
  font-size: 0.75rem;
  color: var(--white);
  background-color: var(--green);
  border-radius: 10px;
  padding: 0.125rem 0.3125rem;
}
.learn_more {
  color: var(--blue);
}
/* Media queries */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
