/* iPads and Tablets - portrait mode*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }
  [aria-expanded="false"] ~ .collapsible .menu {
    display: none;
  }
  [aria-expanded="false"] ~ .collapsible .btn_primary {
    display: none;
  }
  .navbar_wrapper .collapsible {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-50);
    position: absolute;
    right: 0;
    top: 4.6875rem;
    width: 100%;
    background-color: var(--white);
  }
  [aria-expanded="true"] ~ .collapsible .menu {
    position: relative;
    top: var(--size-20);
  }
  [aria-expanded="true"] ~ .menu .menu_link a {
    color: var(--text-color);
    text-decoration: none;
  }
  .header .hero_section {
    position: relative;
    top: var(--size-150);
  }
  .hero_section .hero_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-80);
  }
  .hero_wrapper .hero_title {
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero_title .title {
    color: var(--black);
    font-size: 2.8125rem;
    font-weight: 500;
    font-family: "inter-bold", sans-serif;
    line-height: 1.2;
    margin: 0;
    max-width: 18.75rem;
  }
  .logo_icons_wrapper .google {
    top: -1.25rem;
    left: var(--size-30);
    width: var(--size-50);
    height: var(--size-50);
  }
  .logo_icons_wrapper .atlassian {
    top: -1.5625rem;
    left: 11.875rem;
  }
  .logo_icons_wrapper .asana {
    top: -1.5625rem;
    left: 25rem;
  }
  .logo_icons_wrapper .paypal {
    top: var(--size-60);
    left: var(--size-30);
  }
  .logo_icons_wrapper .google-a {
    top: 10rem;
    left: var(--size-150);
    width: var(--size-50);
    height: var(--size-50);
  }
  .logo_icons_wrapper .weave {
    top: var(--size-60);
    left: 16.875rem;
  }
  .logo_icons_wrapper .calender {
    top: 10rem;
    left: 21.875rem;
  }
  .benefit_section {
    margin-top: 15.625rem;
    margin-bottom: var(--size-100);
  }
  .banner_one .banner_one_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(249, 250, 254, 255);
  }
  .banner_one_wrapper .banner_one_header {
    max-width: 100%;
    margin: auto;
    padding-top: var(--size-20);
    padding-bottom: var(--size-20);
    text-align: center;
  }
  .banner_one_header .title {
    font-family: "inter-bold", sans-serif;
    font-size: var(--size-25);
    font-weight: 500;
    line-height: 1.2;
    color: var(--black);
    max-width: 37.5rem;
    width: 100%;
  }
  .banner_one_wrapper .banner_one_image {
    padding-top: 0;
  }
  .circle_wrapper .wing {
    width: var(--size-50);
  }
  .hubspot_section .hubspot_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-100);
  }
  .hubspot_wrapper .hubspot_text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hubspot_text p {
    max-width: 100%;
    width: 100%;
    font-size: 17px;
    color: var(--black);
    margin-bottom: var(--size-30);
  }
  .partner_wrapper .partner_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-50);
  }
  .partner_logo img {
    width: var(--size-100);
  }
  .pricing_wrapper .pricing_table {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: var(--size-50);
  }
  .pricing_table .pricing_card {
    padding: var(--size-50);
    box-shadow: 0px var(--size-15) var(--size-15) rgb(0 0 0 / 14%);
    text-align: center;
  }
  .pricing_card .description {
    max-width: 95%;
    width: 100%;
    font-size: var(--size-16);
    text-align: justify;
  }
  .feature p {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .hire_us_section .hire_us_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-50);
    padding-top: var(--size-30);
    padding-bottom: var(--size-30);
  }
  .hire_us_wrapper .hire_us {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--size-50);
    gap: var(--size-50);
  }
  .hire_us .sub_title {
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-size: var(--size-16);
  }
  .hire_us .line {
    background-color: var(--white);
    width: 100%;
    margin-top: var(--size-20);
    margin-bottom: var(--size-20);
  }
  .hire_us .description {
    color: var(--white);
    font-size: var(--size-18);
    font-style: italic;
    max-width: 25rem;
    width: 100%;
  }
  .hire_us .hire_us_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--size-30);
    padding: var(--size-20);
  }
  .hire_us_form .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--size-20);
    background-color: var(--white);
    padding: var(--size-50);
    border-radius: var(--size-10);
    max-width: 100%;
    width: 100%;
  }
  .form span {
    color: var(--black);
    font-size: var(--size-16);
  }
  .group input {
    width: 48%;
    height: var(--size-40);
    padding: var(--size-5);
    border: 1px solid rgb(0 0 0 / 51%);
    border-radius: 4px;
    resize: both;
  }
  form .select_group {
    display: flex;
    gap: var(--size-20);
    justify-content: space-between;
  }
  .select_group select {
    width: 48%;
    height: var(--size-40);
    padding: var(--size-5);
    border: 1px solid rgb(0 0 0 / 51%);
    border-radius: 4px;
    background-color: var(--white);
    resize: both;
  }
  .message_group textarea {
    width: 100%;
    height: auto;
    padding: var(--size-10);
    color: var(--text-color);
    font-size: 13px;
    border: 1px solid rgb(0 0 0 / 51%);
  }
  .privacy p {
    max-width: 100%;
    width: 100%;
    font-size: var(--size-16);
  }
  .message_group ul {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: var(--size-50);
    margin-left: var(--size-20);
  }
  .footer_wrapper .top_footer {
    display: flex;
    align-items: flex-start;
    padding-bottom: var(--size-50);
    border-bottom: 2px solid rgba(0, 0, 0, 0.062);
  }
  .top_footer .company_info {
    display: flex;
    flex-direction: column;
    gap: var(--size-20);
    margin-right: auto;
    padding: var(--size-20);
    font-size: var(--size-16);
  }
  .top_footer .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: var(--size-50);
    padding: var(--size-10);
    font-size: var(--size-16);
  }
  .footer .bottom_footer {
    display: flex;
    flex-direction: column;
    gap: var(--size-50);
    padding-top: var(--size-50);
    font-size: var(--size-16);
  }
}

/* mobile phones - portrait mode*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }
  [aria-expanded="false"] ~ .collapsible .menu {
    display: none;
  }
  [aria-expanded="false"] ~ .collapsible .btn_primary {
    display: none;
  }
  .navbar_wrapper .collapsible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-50);
    position: absolute;
    right: 0;
    top: 4.6875rem;
    width: 100%;
    background-color: var(--white);
  }

  [aria-expanded="true"] ~ .collapsible .menu {
    display: flex;
    flex-direction: column;
    gap: var(--size-20);
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: var(--size-20);
  }
  [aria-expanded="true"] ~ .menu .menu_link a:hover {
    color: var(--text-color);
    text-decoration: none;
  }
  .header .hero_section {
    position: relative;
    top: var(--size-150);
  }
  .hero_section .hero_wrapper {
    display: flex;
    gap: var(--size-70);
    flex-wrap: wrap;
  }
  .hero_wrapper .hero_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero_title .title {
    color: var(--black);
    font-size: var(--size-30);
    font-weight: 600;
    font-family: "inter-bold", sans-serif;
    line-height: 1.2;
    margin: 0;
    max-width: 100%;
  }
  .hero_title .sub_title {
    font-size: var(--size-18);
    margin-top: var(--size-10);
    margin-bottom: var(--size-25);
  }
  .title_link .learn_more {
    color: var(--blue);
    font-weight: 600;
  }
  .logo_icons_wrapper .google {
    top: -1.25rem;
    left: var(--size-25);
  }
  .logo_icons_wrapper .atlassian {
    top: -1.25rem;
    left: 8.4375rem;
  }
  .logo_icons_wrapper .asana {
    top: -1.25rem;
    left: 16.875rem;
  }
  .logo_icons_wrapper .paypal {
    top: var(--size-60);
    left: var(--size-25);
  }
  .logo_icons_wrapper .google-a {
    top: var(--size-150);
    left: 7.5rem;
    width: var(--size-50);
    height: var(--size-50);
  }
  .logo_icons_wrapper .weave {
    top: var(--size-60);
    left: var(--size-200);
  }
  .logo_icons_wrapper .calender {
    top: var(--size-150);
    left: 15.625rem;
  }
  .benefit_section {
    margin-top: var(--size-200);
    margin-bottom: var(--size-100);
  }
  .benefit_wrapper .benefit_header {
    max-width: 37.5rem;
    text-align: center;
  }
  .benefit_header p {
    max-width: 15.625rem;
    margin: auto;
    font-size: var(--size-16);
  }
  .banner_one .banner_one_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(249, 250, 254, 255);
  }
  .banner_one_wrapper .banner_one_header {
    max-width: 25rem;
    text-align: center;
    padding-top: 0;
    margin: auto;
  }
  .banner_one_header .title {
    font-family: "inter-bold", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--black);
    max-width: 15.625rem;
    margin: var(--size-20) auto;
  }
  .why_front_wrapper .why_front_header {
    max-width: 18.75rem;
    font-size: var(--size-16);
  }
  .why_front_header p {
    text-align: center;
    max-width: 30.3125rem;
    width: 100%;
    font-size: var(--size-16);
  }
  .why_front_wrapper .why_front {
    display: flex;
    flex-direction: column;
    gap: var(--size-20);
  }
  .why_front .basic_elements,
  .why_front .components,
  .why_front .combined_components,
  .why_front .page_layout {
    display: flex;
    flex-direction: row;
    gap: var(--size-20);
  }
  .circle_wrapper .wing {
    display: none;
  }
  .basic_elements span,
  .components span,
  .combined_components span,
  .page_layout span {
    align-self: center;
    color: var(--black);
    font-size: var(--size-16);
  }
  .banner_two_wrapper .banner_two_icon {
    top: 30%;
    left: 40%;
  }
  .hubspot_section .hubspot_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-100);
  }
  .hubspot_image .upper_image {
    width: 18.75rem;
    position: relative;
    left: 12px;
  }
  .hubspot_image .image_layer {
    width: var(--size-150);
    position: absolute;
    top: var(--size-100);
    left: -var(--size-30);
    z-index: -1;
  }
  .hubspot_wrapper .hubspot_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  .hubspot_text .logo {
    width: var(--size-100);
    margin-bottom: var(--size-15);
  }
  .hubspot_text p {
    max-width: 21.875rem;
    width: 100%;
    font-size: var(--size-20);
    color: var(--black);
    margin-bottom: var(--size-30);
  }
  .hubspot_text h4 {
    color: var(--black);
    font-size: var(--size-18);
    margin: 0;
  }
  .hubspot_text span {
    font-size: var(--size-15);
  }
  .partner_wrapper .partner_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-30);
  }
  .pricing_header p {
    font-size: var(--size-16);
  }
  .pricing_wrapper .pricing_table {
    display: grid;
    grid-template-columns: repeat(1, minmax(18.75rem, 1fr));
    align-items: center;
    justify-items: center;
    gap: var(--size-50);
  }
  .pricing_table .pricing_features {
    display: grid;
    grid-template-columns: repeat(1, minmax(15.625rem, 1fr));
    gap: var(--size-20);
  }
  .pricing_features .feature {
    padding: var(--size-20);
  }
  .feature p {
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-size: var(--size-16);
  }
  .hire_us_section .hire_us_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: var(--size-50);
    padding: var(--size-20);
  }
  .hire_us_wrapper .hire_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: var(--size-20);
    text-align: center;
  }
  .hire_us .sub_title {
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-size: var(--size-16);
  }
  .hire_us .line {
    background-color: var(--white);
    width: 100%;
    margin-top: var(--size-20);
    margin-bottom: var(--size-20);
  }
  .hire_us .description {
    color: var(--white);
    font-style: italic;
    max-width: 18.75rem;
    width: 100%;
    font-size: var(--size-16);
  }
  .hire_us .hire_us_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: var(--size-30);
  }
  .hire_us_form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-10);
    padding: var(--size-30);
    background-color: var(--white);
    border-radius: var(--size-10);
    max-width: 450px;
    width: 100%;
  }
  .form span {
    color: var(--black);
    font-size: var(--size-20);
  }
  .form .name_group {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: var(--size-10);
  }
  .name_group .group {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: var(--size-10);
  }
  .group input {
    width: 100%;
    height: var(--size-35);
    padding: var(--size-5);
    border: 1px solid rgb(0 0 0 / 51%);
    border-radius: 4px;
    resize: both;
    font-size: var(--size-14);
  }
  .form .select_group {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: var(--size-10);
  }
  .select_group select {
    width: 100%;
    height: var(--size-35);
    padding: var(--size-5);
    border: 1px solid rgb(0 0 0 / 51%);
    border-radius: 4px;
    background-color: var(--white);
    resize: both;
    font-size: var(--size-14);
  }
  .form .message_group {
    display: flex;
    flex-direction: column;
    font-size: var(--size-16);
  }
  .message_group textarea {
    width: 100%;
    height: 7.5rem;
    padding: var(--size-10);
    color: var(--text-color);
    font-size: var(--size-14);
    border: 1px solid rgb(0 0 0 / 51%);
  }
  .message_group ul {
    display: flex;
    justify-content: space-around;
    gap: var(--size-50);
  }
  .message_group .blue_link a {
    color: var(--blue);
    border-bottom: 2px dotted var(--blue);
    display: none;
  }
  .footer_wrapper .top_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: var(--size-50);
    border-bottom: 2px solid rgba(0, 0, 0, 0.062);
  }
  .top_footer .company_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-20);
    margin: auto;
    padding: var(--size-20);
    text-align: center;
  }
  .company_info .info li {
    margin-bottom: var(--size-5);
    font-size: var(--size-16);
    padding: var(--size-10);
  }
  .top_footer .links {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: var(--size-20);
    padding: var(--size-10);
    text-align: center;
    font-size: var(--size-16);
  }
  .bottom_footer .policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: var(--size-20);
  }
  .policy ul {
    display: flex;
    gap: var(--size-10);
    margin: auto;
    font-size: var(--size-16);
  }
  .policy .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-20);
    font-size: var(--size-16);
  }
  .social-media ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-40);
    height: var(--size-40);
    color: var(--text-color);
    background-color: rgba(236, 242, 255, 255);
    border-radius: 4px;
  }
  .social-media ul li a i {
    font-size: var(--size-18);
    font-weight: 400;
  }
  .social-media select {
    background-color: rgba(236, 242, 255, 255);
    width: 100%;
    height: 2.1875rem;
    resize: both;
    border-radius: 0.25rem;
    border: none;
    padding: 0 var(--size-10);
  }
  .bottom_footer .copyright {
    text-align: center;
    margin: auto;
    font-size: var(--size-16);
  }
  .copyright p {
    max-width: 18.75rem;
    width: 100%;
    align-self: center;
    margin: var(--size-20) auto;
  }
}
